body {
    margin: 40px;
  
    font-family: "Open Sans", sans-serif;
  
    background: linear-gradient(180deg, rgb(227, 255, 248, 0) 82.08%, rgba(255, 227, 227, 0.38) 100%);
    
    min-height: 106vh;


  }
  
  .page {
    width: 1006px;
    margin: 0 auto 0;
    padding-top: 65px;
  }
  
  nav {
    display: flex;
    justify-content:space-between;
    margin-bottom: 55px;
  }
  
  ul {
    display: flex;
    list-style: none;
    gap: 48px;
    margin: 0;
    padding: 0;
    align-items: center;
    font-family: 'Mulish', sans-serif;
    font-size: 18px;
}
  
  ul li a {
      opacity: 0.5;
      gap: 15px;
      color: #1f1534;
      text-decoration: none;
  }
  
  ul li a:hover {
    font-weight: bold;
    opacity: 1;
  }
  
  h1 {
    font-size: 49px;
    line-height: 56px;
    color: #1f1534;
    font-family: "Mulish", sans-serif;

    /* Distancia de uma linha para a outra dentro da caixa  */
    line-height: 56px;

    font-weight: 400;
    margin-bottom: 40px;

    /* Tamanho da caixa onde terá o texto*/
    width: 490px;
  }
  
  h1 span {
    color: #89c5cc;
    font-weight: bold;
  }
  
  section p {
    font-size: 14px;
    line-height: 28px;
    color: #7d7987;
    width: 438px;
    margin: 40px 0;
  }
  
  main {
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.hero {
  display:flex ;
}

  button {
    background: #69B99D;
    display: flex;
    align-items: center;
    
    border: 0;
    padding: 15px 32px 15px;
    border-radius: 4px;
    border: 0;

    cursor: pointer;
  }

  button > a {
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;

    text-transform: uppercase;
    
    padding-left: 10px;
    border-radius: 4px;
  }
  
  button:hover {
      background: #4EA788;
  }
  
  footer {
    font-size: 14px;
    line-height: 28px;
  
    text-align: center;
  
    margin-top: 80px;
    margin-bottom: 28px;
  }
  
  footer a {
    font-weight: bold;
    color: #1f1534;
  }
  
  #balls {
    position: fixed;
      bottom: 0;
      right: 0;
  }
  
  section {
    margin-top: 70px;
    display: flex;
    gap: 102px;
  }